# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Test / cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Local env files
.env

# Temporary outputs
outputs/logs/*.tmp
